{% layout "layout.liquid" %}
{% block content %}
<div style="text-align: center">
    <br>
    <h1>Welcome to Beer Lager</h1>
    <br>
    <h2>This web app is designed to help you log which breweries you've visited 
        and the beers you've tasted</h2>
    <br>
    <h3> To get started add breweries to your Bucket List</h3>
    <br>
    <br>
    <br>
    <a href="/brewery/bucketlist">
        <button type="button" class="btn btn-success">
            Brewery Bucket List
        </button>
    </a>
</div>
{% endblock %}