{% layout 'layout.liquid'%}
{% block content %}
<div>
    <h2 class="display-6">Bucketlist Breweries
        <a href="/brewery/search">
            <button type="button" class="btn btn-success"> Search for Brewery to add to bucketlist</button>
        </a>
    </h2>
  
    <div class="row">
        {% for brewery in breweries %}
        <div class="card" style="width: 18rem;">
            <h5 class="card-header">{{ brewery.info.name}}</h5>
            <div class="card-body">
                <p class="card-text">
                    Visited: {{ brewery.visited }}
               </p>
                 <!-- <form action="/brewery/{{brewery._id }}?_method=PUT" method="POST">
                    <input type="submit" value="Change Visited Status" class="btn btn-info">
                </p> -->
                <a href="/brewery/{{ brewery._id }}" class="btn btn-info">
                    View Brewery
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

