{% layout 'layout.liquid' %}
{% block content %}
<div class="container-md">
    <article>
        <h2>
            {{brewery.open_brewery_db_id}}
        </h2>
        {% if brewery.visited %}
            <h3>Visited: Yes</h3>
        {% else %}
            <h3>Visited: Not Yet</h3>
        {% endif %}
            <a href="/examples/{{ example.id }}/edit" class="btn btn-primary">Edit</a>
            <form action="/examples/{{ example.id }}?_method=DELETE" method="POST">
                <input type="submit" value="Delete" class="btn btn-danger">
            </form>
        </div>
    </article>
</div>

<!-- I will need to pass the value of the brewery ID to this form -->
<a href="/beer/{{brewery.id}}/create-beer-tasting">
    <h3> Add New Beer Tasting</h3>
</a>

{% endblock %}